<html lang="en">
    <body>
        <%- include('./partials/head.ejs') %>
        <%- include('./partials/nav.ejs') %>
        <h1>Welcome to our application!
        </h1>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>